* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #373d49;
  color: #fff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  width: 25rem;
  border-radius: 5px;
}

.form-input {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px 0;
  font-size: 1.3em;
}
.form-input p {
  font-size: 0.9em;
  color: red;
  margin-top: 0.5rem;
  visibility: hidden;
}

.form-input label {
  margin-bottom: 1rem;
}

.form-input input {
  text-align: center;
  color: inherit;
  outline: none;
  height: 3rem;
  border: 2px solid #fff;
  border-radius: 5px;
  font-size: 1em;
  color: #111;
}
.form-input.success input {
  border-color: green;
}

.form-input.error input {
  border-color: red;
}
.form-input.error p {
  visibility: visible;
}

#submit {
  width: 100%;
  height: 3rem;
  cursor: pointer;
  background: none;
  color: inherit;
  font-size: 1.2em;
  outline: none;
  border: 2px solid #fff;
  border-radius: 5px;
}
